@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar{
    height: 2px ;
    width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb{
    background-color: #ffffff3b;

}